
.vs/

src/applications/Telligent.Member.AuthService/obj/
src/applications/Telligent.Member.AuthService/bin/

src/applications/Telligent.Member.WebApi/obj/
src/applications/Telligent.Member.WebApi/bin/

src/modules/Telligent.Member.Application/obj/
src/modules/Telligent.Member.Application/bin/

src/modules/Telligent.Member.Database/obj/
src/modules/Telligent.Member.Database/bin/

src/modules/Telligent.Member.Domain/obj/
src/modules/Telligent.Member.Domain/bin/
src/applications/Telligent.Member.AuthService/logs/
src/applications/telligent-member-authservice-web/node_modules
src/applications/Telligent.Member.WebApi/logs/
